<app-admin-navbar></app-admin-navbar>

<style>
  input {
    color: #fff;
    background: transparent;
    outline: none;
    border: 2px solid #1ab188;
    padding: 16px;
    margin: 8px 32px 0 32px;
  }

  .user-container {
    height: calc(100vh - 150px);
    width: calc(100vw - 32px);
    margin: 8px 16px;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .user-info {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
    margin: 16px;
  }

  img {
    height: 64px;
    width: 64px;
  }

  .display {
    display: inline-block;
  }

  .user-name {
    color: #fff;
    padding: 8px 8px 8px 0;
  }

  .user-group {
    padding-bottom: 16px;
    color: #da2c6e
  }

  .user-mobile {
    padding-bottom: 4px;
    color: #fff;
  }

</style>

<div>
  <input type="number" class="special-font" placeholder="Search by number">
</div>

<div class="user-container">
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>


  <!-- ============================================== -->
  <!-- ============================================== -->

  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
  <div class="user-info">
    <div class="display">
      <img src="../../../../assets/icons/userIcon.svg" alt="User Icon">
    </div>
    <div class="display">
      <div class="user-name title">Neerav Jain</div>
      <div class="user-mobile special-font">9414071661</div>
      <div class="user-group text">ZC-018i | ZC-019i</div>
    </div>
  </div>
</div>
