<app-admin-navbar></app-admin-navbar>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <div style="text-align:center;">
    <input #inputstring type="text" class="special-font searchBox" placeholder="Search for user name" (keyup)="_searchUser(inputstring.value)">
  </div>

  <div class="user-container">
    <table class="table text" [mfData]="allUsers" #mf="mfDataTable">
      <thead>
        <tr>
            <th class="links">
                <mfDefaultSorter by="name">Sr. No.</mfDefaultSorter>
              </th>
          <th class="links">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="email">Mobile No.</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="age">Email</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="city">Groups</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="city">Transaction History</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data; let i = index;">
          <td class="text">{{i + 1}}</td>
          <td class="text">
            <a [routerLink]="['/v1/erpUser', item.id]">{{item.name}}</a>
          </td>
          <td class="text">{{item.number}}</td>
          <td class="text">{{item.email}}</td>
          <td class="text">{{item.subscribedGroups}}</td>
          <td class="text" style="padding-left: 96px;">
            <a [routerLink]="['/v1/erpUser/transactions', item.number]">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-container" *ngIf="addUserStatus">
    <div>
      <h1 class="title">Add Users</h1>
      <div class="close-icon title" (click)="closeAddUsers()">X</div>
    </div>
    <div style="display: inline-block">
      <form #addUser="ngForm" (ngSubmit)="submitUserInfo(addUser.value)">
        <input type="text" class="text" placeholder="Enter user name" name="name" ngModel>
        <br>
        <div *ngIf="userName" class="text error-message">User name cannot be empty.</div>

        <input type="number" class="text" placeholder="Enter contact number" name="contact" ngModel>
        <br>
        <div *ngIf="usercontact" class="text error-message">Phone number cannot be empty.</div>

        <input type="email" class="text" placeholder="Enter email of the user" name="email" ngModel>
        <br>

        <button type="submit" class="text">Add User</button>
        <div *ngIf="addUserError" class="error-message text">{{addUserErrorMessage}}</div>
      </form>
    </div>
    <div style="display:inline-block;" class="main-page-sub-title or-text">OR</div>
    <div style="display: inline-block; vertical-align:top; width: 240px;">
      <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
      <button type="button" class="text" (click)="uploader.uploadAll()">
        Upload
      </button>
    </div>
  </div>

  <div class="add-icon-image" (click)="addUser()">
    <img src="./assets/icons/addIcon.svg" alt="Add Icon">
  </div>

  <div id="notificationBox" *ngIf="showNotification">
    <img src="./assets/icons/successIcon.svg" alt="Success Icon">
    <div class="text">{{notificationMessage}}</div>
  </div>
</div>
