<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <h1 class="main-page-sub-title group-title">{{groupInfo[0].grp_name}}</h1>
  <h2 class="links color-white">
    <span class="special-font monthly-collection">&#8377; {{groupInfo[0].chit_value/groupInfo[0].num_members}}</span> every month</h2>
  <div class="group-info">
    <div>
      <div class="color-white text heading">Members/No. of Installments</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].num_members}}</div>
    </div>
    <div>
      <div class="color-white text heading">Chit Value</div>
      <div class="color-white special-font sub-heading">
        <span>&#8377; {{groupInfo[0].chit_amount}}</span>
      </div>
    </div>
    <div>
      <div class="color-white text heading">Installments Over</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].months}}</div>
    </div>
    <div>
      <div class="color-white text heading">Remaining Installments</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].num_members - groupInfo[0].months}}</div>
    </div>
    <div>
      <div class="color-white text heading">Draw Day</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].auction_day}}
        <sup>th</sup> of every month</div>
    </div>
    <div>
      <div class="color-white text heading">Start Date & Draw Time</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].startDay}}</div>
    </div>
  </div>

  <div class="group-info">
    <div style="padding-bottom: 16px;" class="main-page-last-title color-white">Amount Collected
      <span class="special-font monthly-collection">&#8377; {{paymentCollected}}</span>
    </div>
    <progress value="{{paymentCollected}}" max="{{groupInfo[0].chit_value * groupInfo[0].num_members}}"></progress>
  </div>

  <div *ngIf="prizeCustomerStatus" class="prize-customer">
    <h1 class="main-page-last-title" style="color: #fff;">Prized Subscriber</h1>
    <input id="tokenNumber" type="number" class="text" placeholder="Enter token number">
    <br>
    <select [(ngModel)]="selectedCycle" style="margin: 16px 0;" (change)="changeSelectedCycle($event.target)">
      <option>Select Draw</option>
      <option *ngFor="let month of numDraws" [ngValue]="month">
        {{ month }}
      </option>
    </select>
    <div style="margin: 16px 0;">
      <button class="button" (click)="selectPrizeCustomer()">Cancel</button>
      <button class="button" (click)="submitSubscriberInfo()">Submit</button>
    </div>
  </div>

  <div class="manage-payment">
    <select [(ngModel)]="selectedMonth" (change)="changeSelectedMonth($event.target)">
      <option>Manage Payments</option>
      <option *ngFor="let month of numMonths" [ngValue]="month">
        {{ month }}
      </option>
    </select>
  </div>

  <div class="prize-cutomer-title links" (click)="selectPrizeCustomer()">Prized Subscriber</div>
  <div class="button-other text" (click)="substituteSubscriber()">Substitute Subscriber</div>

  <div class="substitute-form-container" *ngIf="showSubstitueForm">
    <div>
      <h1 style="display: inline;" class="title">Substitute Subscriber</h1>
      <div class="close-icon title" style="float: right; color: white; margin-left: 64px;" (click)="closeSubstituteSubscriber()">X</div>
    </div>
    <div>
      <form #substituteSubscriber="ngForm" (ngSubmit)="substituteSubscribers(substituteSubscriber.value)">
        <input type="number" class="text input-form" placeholder="Enter token number" name="token" ngModel>
        <br>
        <div *ngIf="substituteSubscriberToken" class="text error-message">Token number cannot be empty.</div>

        <input type="number" class="text input-form" placeholder="Enter mobile number" name="number" ngModel>
        <br>
        <div *ngIf="substituteSubscriberNumber" class="text error-message">Mobile number cannot be empty.</div>

        <input type="text" class="text input-form" placeholder="Enter name" name="name" ngModel>
        <br>
        <div *ngIf="substituteSubscriberName" class="text error-message">Name cannot be empty.</div>

        <div style="display: flex; justify-content: space-evenly;">
          <input type="text" class="text input-form" placeholder="Enter months over" name="monthsOver" ngModel>
          <br>
          <div *ngIf="substituteSubscriberMonths1" class="text error-message">Months Over cannot be empty.</div>

          <input type="text" class="text input-form" placeholder="Enter months remaining" name="monthsRemaining" ngModel style="margin-left: 8px;">
          <br>
          <div *ngIf="substituteSubscriberMonths2" class="text error-message">Months Remaining cannot be empty.</div>
        </div>

        <button type="submit" class="text button-form">Substitute</button>
      </form>
    </div>
  </div>

  <div class="user-container">
    <table class="table text" [mfData]="activeSubscribers" #mf="mfDataTable">
      <thead>
        <tr>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="name">Sr. No.</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="name">Token</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="email">Name</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Amount Paid</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Advance Balance</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Balance Due</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Prized Draw</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Transaction History</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data; let i = index;">
          <td class="links">{{i + 1}}</td>
          <td class="links" [class.color-red]="item.active === 0">{{item.token}}</td>
          <td class="links" [class.color-red]="item.active === 0">{{item.name}}</td>
          <td class="links" [class.color-red]="item.active === 0">{{item.amount}}</td>
          <td class="links" [class.color-red]="item.active === 0">{{item.advance}}</td>
          <td class="links" style="color: red;">{{item.pending}}</td>
          <td class="links" [class.color-red]="item.active === 0">{{item.prized_cycle}}</td>
          <td class="links">
            <a [routerLink]="['/v1/erpGroup', item.token, item.group_id]">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
