<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <h1 class="main-page-sub-title group-title">{{groupInfo[0].grp_name}}</h1>
  <h2 class="links color-white">
    <span class="special-font monthly-collection">&#8377; {{groupInfo[0].chit_value/groupInfo[0].num_members}}</span> every month</h2>
  <div class="group-info">
    <div>
      <div class="color-white text heading">Members/No. of Installments</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].num_members}}</div>
    </div>
    <div>
      <div class="color-white text heading">Chit Value</div>
      <div class="color-white special-font sub-heading">
        <span>&#8377; {{groupInfo[0].chit_amount}}</span>
      </div>
    </div>
    <div>
      <div class="color-white text heading">Installments Over</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].months}}</div>
    </div>
    <div>
      <div class="color-white text heading">Remaining Installments</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].num_members - groupInfo[0].months}}</div>
    </div>
    <div>
      <div class="color-white text heading">Draw Day</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].auction_day}}<sup>th</sup> of every month</div>
    </div>
    <div>
      <div class="color-white text heading">Start Date & Draw Time</div>
      <div class="color-white special-font sub-heading">{{groupInfo[0].startDay}}</div>
    </div>
  </div>

  <div class="group-info">
    <div style="padding-bottom: 16px;" class="main-page-last-title color-white">Amount Collected
      <span class="special-font monthly-collection">&#8377; {{paymentCollected}}</span>
    </div>
    <progress value="{{paymentCollected}}" max="{{groupInfo[0].chit_value}}"></progress>
  </div>

  <div *ngIf="prizeCustomerStatus" class="prize-customer">
    <h1 class="main-page-last-title" style="color: #fff;">Prized Subscriber</h1>
    <input id="tokenNumber" type="number" class="text" placeholder="Enter token number">
    <br>
    <select [(ngModel)]="selectedCycle" style="margin: 16px 0;" (change)="changeSelectedCycle($event.target)">
      <option>Select Draw</option>
      <option *ngFor="let month of numDraws" [ngValue]="month">
        {{ month }}
      </option>
    </select>
    <div style="margin: 16px 0;">
      <button class="button" (click)="selectPrizeCustomer()">Cancel</button>
      <button class="button" (click)="submitSubscriberInfo()">Submit</button>
    </div>
  </div>

  <div class="manage-payment">
    <select [(ngModel)]="selectedMonth" (change)="changeSelectedMonth($event.target)">
      <option>Manage Payments</option>
      <option *ngFor="let month of numMonths" [ngValue]="month">
        {{ month }}
      </option>
    </select>
  </div>

  <div class="prize-cutomer-title links" (click)="selectPrizeCustomer()">Prized Subscriber</div>

  <div class="user-container">
    <table class="table text" [mfData]="activeSubscribers" #mf="mfDataTable">
      <thead>
        <tr>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="name">Sr. No.</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="name">Token</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="email">Name</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Amount Paid</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Advance Balance</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
            <mfDefaultSorter by="age">Balance Due</mfDefaultSorter>
          </th>
          <th class="main-page-mid-title">
              <mfDefaultSorter by="age">Prized Draw</mfDefaultSorter>
            </th>
            <th class="main-page-mid-title">
                <mfDefaultSorter by="age">Transaction History</mfDefaultSorter>
              </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data; let i = index;">
          <td class="links">{{i + 1}}</td>
          <td class="links">{{item.token}}</td>
          <td class="links">{{item.name}}</td>
          <td class="links">{{item.amount}}</td>
          <td class="links">{{item.advance}}</td>
          <td class="links" style="color: red;">{{item.pending}}</td>
          <td class="links">{{item.prized_cycle}}</td>
          <td class="links"><a [routerLink]="['/v1/erpGroup', item.token, item.group_id]">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
