.group-title {
  color: #1ab188;
  padding: 16px 40px 0;
}

.sub-group-title {
  color: #fff;
  padding: 0 40px 16px 40px;
}

table {
  color: #fff;
  text-align: center;
}

th {
  background: #da2c6e;
  border: none;
}

.table th {
  border: 0;
}

.table td {
  border-top: 0;
}

.user-container {
  margin: 16px;
  /* padding-top: 48px; */
}

img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
