<app-admin-navbar></app-admin-navbar>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <div *ngIf="isSuperAdmin" class="data-container">
    <div class="main-page-mid-title color-white pad-top-x">Create & Delete Admins</div>
    <form class="display" #createAdmin="ngForm" (ngSubmit)="submitAdminInfo(createAdmin.value)">
      <input type="text" class="text" placeholder="Enter name" name="name" ngModel>
      <br>
      <div *ngIf="adminName" class="text error-message">Name cannot be empty.</div>

      <input type="number" class="text" placeholder="Enter number" name="number" ngModel>
      <br>
      <div *ngIf="adminNumber" class="text error-message">Number cannot be empty.</div>

      <input type="text" class="text" placeholder="Enter email" name="email" ngModel>
      <br>
      <div *ngIf="adminEmail" class="text error-message">Email cannot be empty.</div>

      <input type="password" class="text" placeholder="Enter password" name="password" ngModel>
      <br>
      <div *ngIf="adminPassword" class="text error-message">Password cannot be empty.</div>

      <div *ngIf="adminPasswordError" class="text error-message">Password must be minimum 6 characters long.</div>

      <button type="submit" class="text">Create Admin</button>
      <div *ngIf="createAdminError" class="error-message text">{{createAdminErrorMessage}}</div>
    </form>
    <div class="display admin-container">
      <div class="admin-info" *ngFor="let admin of currentAdmins">
        <div class="links">{{admin.name}}</div>
        <div class="special-font">{{admin.number}}</div>
        <div class="test">{{admin.email}}</div>
        <button class="text" on-click="deleteAdmin(admin.id)">Delete</button>
      </div>
    </div>
  </div>

  <div class="data-container display-flex">
    <div>
      <div class="main-page-mid-title color-white pad-top-x">Update Password</div>
      <form #updatePassword="ngForm" (ngSubmit)="updateAdminPassword(updatePassword.value)">
        <input type="password" class="text" placeholder="Enter old password" name="oldPassword" ngModel>
        <br>
        <div *ngIf="adminOldPassword" class="text error-message">Password cannot be empty.</div>

        <input type="password" class="text" placeholder="Enter new password" name="newPassword" ngModel>
        <br>
        <div *ngIf="adminNewPassword" class="text error-message">Password cannot be empty.</div>
        <div *ngIf="adminPasswordLength" class="text error-message">Password must be minimum 6 characters long.</div>
        <button type="submit" class="text">Update Password</button>
      </form>
    </div>

    <div *ngIf="isSuperAdmin">
      <div class="main-page-mid-title color-white pad-top-x">Change Password of Subscribers</div>
      <form #forgotPassword="ngForm" (ngSubmit)="forgotUserPassword(forgotPassword.value)">
        <input type="number" class="text" placeholder="Enter mobile number of subscriber" name="number" ngModel>
        <br>
        <div *ngIf="userNumber" class="text error-message">Number cannot be empty.</div>

        <input type="password" class="text" placeholder="Enter password" name="password" ngModel>
        <br>
        <div *ngIf="userNewPassword" class="text error-message">Password cannot be empty.</div>
        <div *ngIf="userPasswordLength" class="text error-message">Password must be minimum 6 characters long.</div>
        <button type="submit" class="text">Update Password</button>
      </form>
    </div>
  </div>

  <div class="data-container display-flex">
    <div *ngIf="isSuperAdmin">
      <div class="main-page-mid-title color-white pad-top-x">Change Mobile Number</div>
      <form #updateNumber="ngForm" (ngSubmit)="updateMobileNumber(updateNumber.value)">
        <input type="number" class="text" placeholder="Enter old mobile number" name="oldNumber" ngModel>
        <br>
        <div *ngIf="userOldNumber" class="text error-message">Number cannot be empty.</div>

        <input type="number" class="text" placeholder="Enter new mobile number" name="newNumber" ngModel>
        <br>
        <div *ngIf="userNewNumber" class="text error-message">Number cannot be empty.</div>
        <button type="submit" class="text">Update Number</button>
      </form>
    </div>

    <div *ngIf="isSuperAdmin">
      <div class="main-page-mid-title color-white pad-top-x">Delete User</div>
      <form #deleteNumber="ngForm" (ngSubmit)="deleteMobileNumber(deleteNumber.value)">
        <input type="number" class="text" placeholder="Enter mobile number" name="mobileNumber" ngModel>
        <br>
        <div *ngIf="userMobileNumber" class="text error-message">Number cannot be empty.</div>

        <input type="number" class="text" placeholder="Confirm mobile number" name="mobileNumberConfirm" ngModel>
        <br>
        <div *ngIf="userMobileNumberConfirm" class="text error-message">Number cannot be empty.</div>
        <div *ngIf="numberMismatch" class="text error-message">Number should be same.</div>
        <button type="submit" class="text">Delete Number</button>
      </form>
    </div>
  </div>

  <div class="data-container">
    <button on-click="logOut()">Log Out</button>
  </div>
</div>
