<app-user-navbar></app-user-navbar>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <div class="container-box">
    <div>
      <div class="color-white title heading">Total Savings</div>
      <div class="color-white title-number sub-heading">
        <span>&#8377; {{userSavings}}</span>
      </div>
    </div>
    <div>
      <div class="color-white title heading">Total Prized Money</div>
      <div class="color-white title-number sub-heading">
        <span>&#8377; {{userPrizedMoney}}</span>
      </div>
    </div>
    <div>
      <div class="color-white title heading">Total Pending Amount</div>
      <div class="color-white title-number sub-heading">
        <span style="color: red;">&#8377; {{userPendingAmount}}</span>
      </div>
    </div>
  </div>

  <div class="groups-container">
    <div *ngFor="let group of userGroups">
      <div class="group-box">
        <div class="upper-container">
          <div class="display">
            <img src="./assets/icons/groupIcon.svg" alt="Group Icon">
          </div>
          <div class="display">
            <p class="group-title">
              <a class="color-white title" [routerLink]="['/v1/home', group.grp_id]">{{group.grp_name}}</a>
            </p>
            <div class="color-white special-font">
              <span>&#8377; {{group.chit_value/group.num_members}}</span> every month</div>
          </div>
        </div>
        <div class="lower-container">
          <div>
            <div class="color-white text heading">Members</div>
            <div class="color-white special-font sub-heading">{{group.num_members}}</div>
          </div>
          <div>
            <div class="color-white text heading">Chit Value</div>
            <div class="color-white special-font sub-heading">
              <span>&#8377; {{group.chit_value}}</span>
            </div>
          </div>
          <div>
            <div class="color-white text heading">Months over</div>
            <div class="color-white special-font sub-heading">{{group.months}}</div>
          </div>
          <div>
            <div class="color-white text heading">Remaining Months</div>
            <div class="color-white special-font sub-heading">{{group.num_members - group.months}}</div>
          </div>
          <div>
            <div class="color-white text heading">Draw Day</div>
            <div class="color-white special-font sub-heading">{{group.auction}}</div>
          </div>
          <div>
            <div class="color-white text heading">Start Day</div>
            <div *ngIf="group.start_date" class="color-white special-font sub-heading">{{group.startDay}}</div>
            <div *ngIf="!group.start_date" class="color-white special-font sub-heading">- -</div>
          </div>
          <div>
            <div class="color-white text heading">Pending Amount</div>
            <div class="color-white special-font sub-heading" style="color: red;">{{group.pendingAmount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
