<app-admin-navbar></app-admin-navbar>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <div class="data-container">
    <div>
      <img class="display" src="./assets/icons/payments.svg" alt="Collection" />
      <div class="display color-white title" style="vertical-align: top;">Collections</div>
    </div>
    <div class="collection-container">
      <div>
        <div class="color-white text">Aggregate Chit Value</div>
        <div style="padding-top: 4px;" class="color-white special-font-home">
          <span>&#8377; {{aggregateAmount}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">Today's</div>
        <div style="padding-top: 4px;" class="color-white special-font-home">
          <span>&#8377; {{dailyCollection}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">This Week</div>
        <div style="padding-top: 4px;" class="color-white special-font-home">
          <span>&#8377; {{weeklyCollection}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="data-container">
    <div>
      <img class="display" src="./assets/icons/groupIcon.svg" alt="Collection" />
      <div class="display color-white title" style="vertical-align: top;">Statistics</div>
    </div>
    <div class="collection-container">
      <div>
        <div class="color-white text">Total Users</div>
        <div class="color-white special-font-home">
          <span>{{numUsers}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">Total Groups</div>
        <div class="color-white special-font-home">
          <span>{{numGroups}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
