<app-admin-navbar></app-admin-navbar>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <div class="data-container">
    <div>
      <img class="display" src="./assets/icons/payments.svg" alt="Collection" />
      <div class="display color-white title" style="vertical-align: top; padding: 12px;">Collections</div>
    </div>
    <div class="collection-container">
      <div>
        <div class="color-white text">Aggregate Chit Value</div>
        <div style="padding-top: 4px;" class="color-white special-font-home">
          <span>&#8377; {{aggregateChitValue}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">Aggregate Amount Collected</div>
        <div style="padding-top: 4px;" class="color-white special-font-home">
          <span>&#8377; {{aggregateAmount}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">Today's Collection</div>
        <div style="padding-top: 4px;" class="color-white special-font-home">
          <span>&#8377; {{dailyCollection}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">Week's Collection</div>
        <div style="padding-top: 4px;" class="color-white special-font-home">
          <span>&#8377; {{weeklyCollection}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="data-container">
    <div>
      <img class="display" src="./assets/icons/groupIcon.svg" alt="Collection" />
      <div class="display color-white title" style="vertical-align: top; padding: 12px;">Statistics</div>
    </div>
    <div class="collection-container">
      <div>
        <div class="color-white text">Total Users</div>
        <div class="color-white special-font-home">
          <span>{{numUsers}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">Total Groups</div>
        <div class="color-white special-font-home">
          <span>{{totalGroups}}</span>
        </div>
      </div>
      <div>
        <div class="color-white text">Total Running Groups</div>
        <div class="color-white special-font-home">
          <span>{{numGroups}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="data-container">
    <div>
      <img class="display" src="./assets/icons/report.svg" alt="Reports" />
      <div class="display color-white title" style="vertical-align: top; padding: 12px;">Reports</div>
    </div>
    <div class="collection-container">
      <div>
        <div class="color-white text">Daily Collection Report</div>
        <div class="button text" (click)="selectDate()">Select Date</div>
      </div>
      <div>
        <div class="color-white text">Users Report</div>
        <div class="button text" (click)="downloadUserReport()">Download Report</div>
      </div>
      <div>
        <div class="color-white text">Groups Report</div>
        <div class="button text" (click)="downloadGroupReport()">Download Report</div>
      </div>
      <div>
        <div class="color-white text">Substituted Subscribers Report</div>
        <div class="button text" (click)="downloadSubstitutedSubscribersReport()">Download Report</div>
      </div>
    </div>
  </div>

  <div class="date-selection-div" *ngIf="dateModalFlag">
    <div class="main-page-last-title" style="margin-bottom: 16px; display: flex; justify-content: space-between;">
      <div style="display: inline;">Select date</div>
      <div class="close-icon" (click)="closeDateModal()">X</div>
    </div>
    <dl-date-time-picker on-change="(onCollectionDateSelect($event))"></dl-date-time-picker>
  </div>
</div>
