<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <div class="user-container">
    <table class="table text" [mfData]="transactionsData" #mf="mfDataTable">
      <thead>
        <tr>
          <th class="links">
            <mfDefaultSorter by="name">Index</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="name">Token</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="name">Amount Paid</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="name">Mode</mfDefaultSorter>
          </th>
          <th class="links">
            <mfDefaultSorter by="age">Date</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data; let i = index;">
          <td class="text">{{i + 1}}</td>
          <td class="text">{{item.name}}</td>
          <td class="text">{{item.token}}</td>
          <td class="text">{{item.amount}}</td>
          <td class="text">{{item.payment_mode}}</td>
          <td class="text">{{item.payment_date | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>