@font-face {
  font-family: panton;
  src: url(panton.otf);
}

@font-face {
  font-family: affogato;
  src: url(affogato.otf);
}

@font-face {
  font-family: specialElite;
  src: url(SpecialElite.ttf);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .main-page-title {
    font-family: panton;
    font-size: 4em;
    letter-spacing: 25px;
  }
  .main-page-sub-title {
    font-family: panton;
    font-size: 1.4em;
    letter-spacing: 1.02px;
  }
  .main-page-last-title {
    font-family: affogato;
    font-size: 1.25em;
    letter-spacing: 0.75px;
  }
  .main-page-mid-title {
    font-family: affogato;
    font-size: 1.15em;
    letter-spacing: 0.75px;
  }
  .title {
    font-family: affogato;
    font-size: 1.5em;
    letter-spacing: 1.02px;
  }
  .title-number {
    font-family: specialElite;
    font-size: 1.5em;
    letter-spacing: 0.75px;
  }
  .links {
    font-family: affogato;
    font-size: 1em;
    letter-spacing: 0.75px;
  }
  .text {
    font-family: affogato;
    font-size: 0.75em;
    letter-spacing: 0.75px;
  }
  .special-font {
    font-family: specialElite;
    font-size: 0.75em;
    letter-spacing: 0.75px;
  }
}

@media only screen and (min-device-width: 550px) and (max-device-width: 800px) {
  .main-page-title {
    font-family: panton;
    font-size: 6em;
    letter-spacing: 25px;
  }
  .main-page-sub-title {
    font-family: panton;
    font-size: 2em;
    letter-spacing: 1.02px;
  }
  .main-page-last-title {
    font-family: affogato;
    font-size: 1.55em;
    letter-spacing: 0.75px;
  }
  .main-page-mid-title {
    font-family: affogato;
    font-size: 1.35em;
    letter-spacing: 0.75px;
  }
  .title {
    font-family: affogato;
    font-size: 2em;
    letter-spacing: 1.02px;
  }
  .title-number {
    font-family: specialElite;
    font-size: 2em;
    letter-spacing: 0.75px;
  }
  .links {
    font-family: affogato;
    font-size: 1.25em;
    letter-spacing: 0.75px;
  }
  .text {
    font-family: affogato;
    font-size: 1em;
    letter-spacing: 0.75px;
  }
  .special-font {
    font-family: specialElite;
    font-size: 1em;
    letter-spacing: 0.75px;
  }
}

@media only screen and (min-device-width: 850px) and (max-device-width: 1024px) {
  .main-page-title {
    font-family: panton;
    font-size: 6em;
    letter-spacing: 25px;
  }
  .main-page-sub-title {
    font-family: panton;
    font-size: 2em;
    letter-spacing: 1.02px;
  }
  .main-page-last-title {
    font-family: affogato;
    font-size: 1.55em;
    letter-spacing: 0.75px;
  }
  .main-page-mid-title {
    font-family: affogato;
    font-size: 1.35em;
    letter-spacing: 0.75px;
  }
  .title {
    font-family: affogato;
    font-size: 2em;
    letter-spacing: 1.02px;
  }
  .title-number {
    font-family: specialElite;
    font-size: 2em;
    letter-spacing: 0.75px;
  }
  .links {
    font-family: affogato;
    font-size: 1.25em;
    letter-spacing: 0.75px;
  }
  .text {
    font-family: affogato;
    font-size: 1em;
    letter-spacing: 0.75px;
  }
  .special-font {
    font-family: specialElite;
    font-size: 1em;
    letter-spacing: 0.75px;
  }
}

@media only screen and (min-width: 1224px) {
  .main-page-title {
    font-family: panton;
    font-size: 10em;
    letter-spacing: 25px;
  }
  .main-page-sub-title {
    font-family: panton;
    font-size: 3em;
    letter-spacing: 1.02px;
  }
  .main-page-last-title {
    font-family: affogato;
    font-size: 1.75em;
    letter-spacing: 0.75px;
  }
  .main-page-mid-title {
    font-family: affogato;
    font-size: 1.5em;
    letter-spacing: 0.75px;
  }
  .title {
    font-family: affogato;
    font-size: 2em;
    letter-spacing: 1.02px;
  }
  .title-number {
    font-family: specialElite;
    font-size: 2em;
    letter-spacing: 0.75px;
  }
  .links {
    font-family: affogato;
    font-size: 1.25em;
    letter-spacing: 0.75px;
  }
  .text {
    font-family: affogato;
    font-size: 1em;
    letter-spacing: 0.75px;
  }
  .special-font {
    font-family: specialElite;
    font-size: 1em;
    letter-spacing: 0.75px;
  }
  .special-font-home {
    font-family: specialElite;
    font-size: 2em;
    letter-spacing: 0.75px;
  }
}

.main-title {
  font-family: panton;
  font-size: 4em;
  letter-spacing: 1.02px;
}

.main-sub-title {
  font-family: panton;
  font-size: 2em;
  letter-spacing: 1.02px;
}