<div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  
  <div *ngIf="!loading">
    <h1 class="main-page-sub-title group-title">Manage Payments</h1>
    <h2 class="main-page-mid-title sub-group-title">Installment Number: {{installmentNum}}</h2>

    <div (click)="goToHome()">
      <img src="./assets/icons/home.svg" alt="Home" />
    </div>

    <input type="checkbox" [(ngModel)]="checkedStatus" (change)="_checkBoxChanged()"><label>Copy amount for all the tokens.</label>
    
    <div class="data-container" *ngFor="let payment of managePayment; let i = index">
      <div class="data-container-child">
        <div>Name</div>
        <input type="text" [(ngModel)]="payment.name" readonly>
      </div>
      <div class="data-container-child">
        <div>Token</div>
        <input type="text" [(ngModel)]="payment.token" name="payment.token" readonly>
      </div>
      <div class="data-container-child">
        <div>Amount</div>
        <input type="number" [(ngModel)]="payment.amount" name="payment.amount">
      </div>
      <div class="data-container-child">
        <div>Payment Mode</div>
        <select [(ngModel)]="payment.payment_mode" name="payment.payment_mode">
          <option value="Cash" selected>Cash</option>
          <option value="Cheque">Cheque</option>
          <option value="NEFT">NEFT</option>
          <option value="IMPS">IMPS</option>
          <option value="UPI">UPI</option>
          <option value="Deposit">Deposit</option>
        </select>
      </div>
      <div class="data-container-child">
        <div>Comment/Reference</div>
        <input type="text" [(ngModel)]="payment.payment_comment" name="payment.payment_comment">
      </div>
    </div>
    <button type="button" (click)="saveData(managePayment)">Record Payment</button>
  </div>